workspace.code-workspace
Data_*/*
pickle/comirnaty_pdf/comirnaty-handlagda-rapporter-om-misstankta-biverkningar-2021*
pickle/comirnaty_pdf/desktop.ini
pickle/moderna_pdf/spikevax*2021*
pickle/moderna_pdf/covid*2021*
pickle/vaxevria_pdf/Vaxzevria*2021*
pickle/vaxevria_pdf/covid*2021*
